body {
    font-family: Arial, Verdana;
    color: #383838;
    font-size: 16px;
    margin: 0;
    background-color: #f6f6f6;
}

a {
    color: #0645ad;
}

#breadcrumb {
    display: none;
    font-size: 14px;
}

#breadcrumb .nav-link {
    padding-right: 0;
    padding-left: 0;
    color: #999999;
}

#breadcrumb .nav-link.disabled {
    color: #666666;
}

#breadcrumb a::after {
    content: ">";
    padding-left: 10px;
    padding-right: 10px;
}

#breadcrumb li:last-child a::after {
    content: "";
}

.mobile-title {
    display: block;
    font-family: "Comic Sans MS";
    font-size: 21px;
}

.navbar {
    border-bottom: 1px solid #ebebeb;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16);
    background-color: #ffffff;
}

.bd-sidebar {
    padding-right: 0;
    display: none;
}

.logo {
    font-size: 50px;
    font-family: "Comic Sans MS";
    cursor: pointer;
}

.actions {
    list-style: none;
    padding: 0;
    margin-top: 30px;
}

a:hover, a.nav-link:hover, .navbar-light .navbar-nav .nav-link:hover, #breadcrumb .nav-link:hover, #mobile-breadcrumb .nav-link:hover, #top-nav a:hover, .top-info .content-action a:hover {
    color: #36b;
}

#mobile-breadcrumb a.nav-link {
    color: #36b;
}

.actions li {
    margin: 5px 0;
}

.actions .btn {
    border-radius: 0;
    display: block;
    text-align: left;
}

.actions .btn:hover {
    background-color: #36b;
}

.inner-icon .btn {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: 1px solid #ced4da;
}

.inner-icon .btn:hover {
    color: #ffffff;
    background-color: #36b;
}

#top-nav {
    display: none;
    flex-direction: row;
    justify-content: flex-end;
    padding: 5px 0;
}

#top-nav li {
    margin-left: 30px;
}

#top-nav a {
    color: #383838;
}

.content {
    min-height: 300px;
    padding: 10px 15px;
    background-color: #ffffff;
}

.inner-icon {
    position: relative;
}

.inner-icon .btn {
    position: absolute;
}

.right-icon .btn {
    right: 0;
    top: 0;
}

.right-icon input {
    padding-right: 45px;
}

.bd-content {
    padding: 0;
}

.search-form, .search-form input.form-control, .search-form .inner-icon {
    width: 100%;
}

#mobile-top-menu {
    border-top: 1px solid #dddddd;
    padding-top: 10px;
    text-align: center;
}

#mobile-actions .btn {
    text-align: center;
}

.icon-print .fa {
    font-size: 25px;
    line-height: 38px;
}

#mobile-breadcrumb {
    font-size: 13px;
    padding: 0 15px;
}

.top-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-info ul {
    display: flex;
    list-style: none;
    margin: 0;
}

.top-info li {
    margin-left: 10px;
    font-size: 20px;
}

.top-info .current-tag {
    color: #999999;
}

.top-info .content-action a {
    color: #666666;
}

.title {
    color: #36b;
    margin-bottom: 0;
    font-size: 2rem;
}

.description {
    font-size: 13px;
    color: #999999;
    margin-bottom: 10px;
}

.bottom-info {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    padding-bottom: 5px;
}

.bottom-info ul {
    flex-direction: column;
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
}

.bottom-info a::after {
    content: "";
    color: #999999;
    padding-left: 10px;
    padding-right: 10px;
}

.bottom-info li:last-child a::after {
    content: "";
}

.comments {
    border-top: 1px solid #dddddd;
    padding: 10px 0;
}

.content img {
    width: 100%;
}

.current-tag {
    font-size: 14px;
}

/* Small devices (landscape phones, 576px and up) */

@media (min-width: 576px) {}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */

@media (min-width: 768px) {
    #breadcrumb {
        display: flex;
    }
    .mobile-title, #mobile-top-menu, #mobile-actions {
        display: none;
    }
    .bd-sidebar {
        display: block;
    }
    #top-nav {
        display: flex;
    }
    .bd-content {
        padding-left: 0;
        padding-top: 10px;
        padding-right: 15px;
    }
    .bottom-info {
        flex-direction: row;
    }
    .bottom-info ul {
        padding-left: 10px;
    }
    .content {
        border: 1px solid #a7d7f9;
        margin-bottom: 15px;
    }
    .search-form {
        width: auto;
    }
    .search-form input {
        min-width: 300px;
    }
    #mobile-breadcrumb {
        display: none;
        padding: 0;
    }
    .content img {
        width: auto;
        max-height: 300px;
    }
    .bottom-info ul {
        flex-direction: row;
    }
    .bottom-info a::after {
        content: "|";
    }
    .title {
        font-size: 2.5rem;
    }
}

/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) {}

/* Extra large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {}